@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: oxanium;
  }
  .contizer {
    max-width: 1530px;
    padding: 0 15px;
    margin: auto;
  }
  .mygrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
  }
  img {
    width: 100%;
  }
  .prose {
    min-width: 100% !important;
  }
}
@layer components {
  .section {
    @apply py-6 md:py-12 lg:py-16;
  }
}
