@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: oxanium;
  }
  .contizer {
    max-width: 1530px;
    padding: 0 15px;
    margin: auto;
  }
  .mygrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
  }
  img {
    width: 100%;
  }
  .prose {
    min-width: 100% !important;
  }
  @keyframes bounce2 {
    0% {
      top: -120px;
    }
    100% {
      top: 0;
    }
  }
  .mybounce {
    animation: bounce2 0.5s;
  }
  /* ======== Ranger dslider ========== */
  .input_left input {
    padding: 10px;
    max-width: 120px;
    font-size: 20px;
    -moz-appearance: textfield;
  }
  .input_left input[type="number"]::-webkit-inner-spin-button,
  .input_left input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  .input_left span {
    text-transform: capitalize;
    font-size: 20px;
  }
  .inputContiser input {
    width: 100%;
    height: 5px;
    pointer-events: none;
    -webkit-appearance: none;
    background: none;
    position: absolute;
  }
  .inputContiser input::-webkit-slider-thumb {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #3d26bd;
    -webkit-appearance: none;
    pointer-events: auto;
  }
  .inputContiser input.red::-webkit-slider-thumb {
    background-color: red;
  }
}
/* components */
@layer components {
  .testimonImg {
    @apply w-full h-full aspect-[16/9] lg:aspect-auto;
    background: url(./assets/testimonials.jpg) no-repeat center/cover;
  }
  .cntcImg {
    @apply w-full h-full aspect-[16/9] lg:aspect-auto;
    background: url(./assets/contact-bg.jpg) no-repeat center/cover;
  }
  .cmnBtn {
    @apply w-fit inline-block mx-auto mt-4 md:mt-8 lg:mt-12 rounded bg-rose-600  hover:bg-rose-700 px-3 sm:px-4 md:px-5 lg:px-6 leading-6 sm:leading-7 md:leading-8 lg:leading-9 xl:leading-10 text-xs sm:text-sm lg:text-base font-medium text-white shadow focus:outline-none focus:ring active:bg-red-500 transition-all duration-500 cursor-pointer;
  }
  .cmnBtn1 {
    @apply inline-block w-full sm:w-auto rounded bg-rose-600 hover:bg-rose-700 px-3 sm:px-4 md:px-5 lg:px-6 leading-6 sm:leading-7 md:leading-8 lg:leading-9 xl:leading-10 text-xs sm:text-sm lg:text-base font-medium text-white shadow focus:outline-none focus:ring active:bg-red-500 transition-all duration-500 cursor-pointer;
  }
  .section {
    @apply py-6 md:py-12 lg:py-16;
  }
  .sectionart {
    @apply py-6 md:py-12;
  }
  /* hero section */
  .hero-section {
    @apply relative bg-black/10;
  }
  .hero-banner {
    @apply w-full;
  }
  .hero-content {
    @apply absolute left-0 top-0 right-0 bottom-0 grid place-items-center px-4;
  }
  .hero-inner {
    @apply mx-auto max-w-[956px] text-center flex flex-col justify-between md:flex-none;
  }
  .hero-text {
    @apply w-full flex flex-col sm:gap-0.5 md:gap-1 lg:gap-2;
  }
  .hero-tagline {
    @apply bg-gray-800/80 w-fit mx-auto px-4 py-1 rounded-full;
  }
  .tagline-text {
    @apply text-xs sm:text-base md:text-lg lg:text-xl xl:text-2xl font-medium text-white;
  }
  .hero-title {
    @apply font-bold text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl text-yellow-300;
  }
  .hero-subtitle {
    @apply hidden sm:inline-block;
  }
  .hero-description {
    @apply text-gray-200 text-sm sm:text-base md:text-lg lg:text-xl font-normal leading-[1.2] sm:leading-normal sm:tracking-wide;
  }
  .hero-additional-text {
    @apply hidden sm:inline;
  }

  /* about css */
  .about-section {
    @apply section;
  }
  .container {
    @apply contizer flex flex-col gap-6 md:gap-12 lg:gap-16;
  }
  .about-header {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16;
  }
  .about-title {
    @apply w-full;
  }
  .about-title-text {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold;
  }
  .about-breadcrumbs {
    @apply flex gap-4 items-center sm:py-2;
  }
  .breadcrumb-home {
    @apply text-sm font-medium text-black hover:text-[#868c19];
  }
  .breadcrumb-divider {
    @apply text-[6px] text-[#868c19];
  }
  .breadcrumb-current {
    @apply text-sm font-medium text-[#868c19];
  }
  .about-image {
    @apply w-full;
  }
  .about-content {
    @apply grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 lg:gap-16 lg:items-center;
  }
  .about-image-portion {
    @apply w-full;
  }
  .image-container {
    @apply relative;
  }
  .about-main-image {
    @apply object-cover w-4/5 sm:w-5/6 md:w-full lg:w-full xl:w-2/3 rounded-lg overflow-hidden ms-auto;
  }
  .about-description {
    @apply w-full;
  }
  .description-text {
    @apply text-gray-600 text-sm md:text-lg xl:text-xl leading-relaxed;
  }
  .description-link {
    @apply text-red-600 hover:underline;
  }
  /* account css */
  .account-section {
    @apply section;
  }

  .account-container {
    @apply contizer;
  }

  .account-header {
    @apply text-center max-w-[560px] mx-auto pb-8;
  }

  .account-title {
    @apply text-2xl font-semibold my-2;
  }

  .account-subtitle {
    @apply text-xl font-medium text-gray-600;
  }

  .account-grid {
    @apply grid grid-cols-1 gap-4 sm:grid-cols-2 sm:items-stretch lg:grid-cols-3 md:gap-8;
  }

  /* blog */
  .blog-section {
    @apply section;
  }

  .blog-container {
    @apply contizer;
  }

  .loading-section {
    @apply text-2xl text-yellow-400;
  }

  .error-section {
    @apply text-2xl text-red-600;
  }

  .blog-header {
    @apply text-center max-w-[560px] mx-auto pb-8;
  }

  .blog-title {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold mb-2;
  }

  .blog-subtitle {
    @apply text-sm sm:text-base md:text-lg lg:text-xl font-medium text-gray-600;
  }

  .blog-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6;
  }

  /* terms and condiytions */
  .terms h4 {
    @apply mt-6 text-blue-800 text-xl lg:text-2xl font-semibold;
  }
  .terms p {
    @apply text-sm sm:text-base lg:text-lg my-3 text-blue-950;
  }
}
